<mat-sidenav-container fullscreen>
    <mat-sidenav [opened]="!mobile" #sidenav [mode]="sideNavMode">
        <mat-nav-list>
            <ng-template ngFor let-view [ngForOf]="views" let-even="even" let-odd="odd" let-rowIndex="index">
                <a mat-list-item [routerLink]="view.link" routerLinkActive="active-link" (click)="mobile ? sidenav.close() : {}">
                    <mat-icon mat-list-icon>{{view.icon}}</mat-icon>
                    <span mat-line>{{view.name}}</span>
                    <span mat-line class="secondary">{{view.description}}</span>
                </a>
            </ng-template>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button> Tripster

            <span class="fill-space"></span>

            <button mat-raised-button (click)="login()" color="accent" *ngIf="!(user$ | async)?.displayName">
                <mat-icon>lock</mat-icon>
                Login
            </button>

            <span *ngIf="(user$ | async)?.displayName">
                <span>{{(user$ | async)?.displayName}}</span>
            <button mat-raised-button (click)="logout()" color="warn">
                    <mat-icon>door</mat-icon>
                    Logout
                </button>
            </span>
        </mat-toolbar>

        <mat-card id="my-page-card">
            <router-outlet></router-outlet>
        </mat-card>

    </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="bottom-fixed">Footer</mat-toolbar>